
.amazon_show.c
  %h2= link_to h(@item.title), @item.detailpageurl
  .image
    - img_url = @item.largeimage_url
    - img = "<img src='#{img_url}'>"
    = link_to img, "/amazon/#{h @item.asin}"
  .l
    %ul.spec
      %li== asin: #{h @item.asin}
      %li== 価格￥#{h @item.amount}
      %li== auther: #{h @item.author}
      %li== publisher: #{h @item.publisher}
  %hr
