
%h2&= @character.nick

- if @player == @character.player
  == Jewels: #{h @player.jewel}

  - if @characters_notice
    .notice&= @characters_notice
  .message
    %p
      - price = 100
      == #{h @character.nick}のカードを#{h price}jと引換に手放しますか？
      = link_to '手放す', "/cmd/sell_character/#{@character.id}/#{price}"

amazon.co.jpの関連商品
= haml :amazon_show
