= haml :_character_style

%h2 Character Shop

- if @player
  == Jewels: #{h @player.jewel}

  - if @characters_notice
    .notice&= @characters_notice
  .message
    - if params[:prebuy]
      - stock = CharacterStock.find(:id => params[:id])
      %p
        == #{h stock.name}のカードを#{h stock.price}jと交換しますか？
        = link_to '交換する', "/cmd/buy_character/#{stock.id}/#{stock.price}"
    - else
      %p いらっしゃいませ！

%table.characters.border
  %tr
    %th no
    %th nick
    %th agi
    %th off
    %th def
    %th life
    %th stock
    %th jewel
    %th{:colspan=>4} amazon.co.jp の関連商品
  - CharacterStock.each_with_index do |stock, idx|
    - character = stock.character
    %tr
      %td.c!= idx + 1
      %td.l!= character.name
      %td.r!= character.agi_org
      %td.r!= character.off_org
      %td.r!= character.def_org
      %td.r!= character.life_org
      %td.r!= stock.stock
      %td.r.b
        - if stock.stock > 0 and @player and @player.jewel >= stock.price
          = link_to h(stock.price), "/characters/stock?id=#{h stock.id}&prebuy=true"
        - else
          &= stock.price
      %td.space{:width=>20}
      %td
      - item = character.amazon_item
      %td.c.image{:class=>character.name}
        - img = "<img src='/images/spacer.png' width='90' height='42'>"
        = link_to img, "/amazon/#{h item.asin}"
      %td.l.amazoninfo
        &= item.title
        %br
        = link_to 'amazon.co.jp で詳細を見る', item.detailpageurl
