
%h2&= @character.nick

- if @player == @character.player
  == Jewels: #{h @player.jewel}

  - if @characters_notice
    .notice&= @characters_notice
  .message
    %p
      == #{h @character.nick}のカードを手放しますか？
      = link_to '手放す', "/cmd/sell_character/#{@character.id}"

amazon.co.jpの関連商品
= haml :amazon_show
