%h1 Custam

.custam_menu
  %p
    ==使用しているテーマは<b>『#{h @player.custam.title}(#{h @player.custam.user.name})』</b>です。
  %ul
    %li= link_to 'デフォルトのテーマを使う', '/cmd/use_default_custam'
    %li= link_to 'カスタマイズテーマを新規作成する', '/custams/new'
  %h3==#{h @player.name}のカスタマイズデータ
  %table
    %tr
      %th id
      %th タイトル
      %th{:colspan=>3} アクション
    - @player.user.custams.each do |custam|
      %tr
        %td.c= custam.id
        %td= link_to h(custam.title), "/custams/#{custam.uid}"
        %td= link_to '適用', "/cmd/use_custam/#{custam.uid}"
        %td= link_to '編集', "/custams/edit/#{custam.id}"
        %td= link_to '削除', "/custams/delete/#{custam.id}"

  .item_images
    .associate Amazon.co.jpアソシエイト
    - @items.each do |e|
      - img_url = e.get('mediumimage/url')
      - img = "<img src='#{img_url}'>"
      = link_to img, "/amazon/#{h e.get(:asin)}"

%ul.todo
  %li nick等の文字数制限
  %li titleその他の情報もbody部で設定（デフォルトタイトルは@nameのカスタマイズ）

