= haml :_character_style

.r
  == Jewels: #{h @player.jewel} / 
  == 0勝 0敗 0分 /
  == time: #{game_env.game_time}

- if @notices.size > 0 or @notices_h.size > 0
  .notices
    %ul
      - @notices.each do |e|
        %li.notice&= e
      - @notices_h.each do |e|
        %li= e

%h2 Cards
%table.characters
  %tr
    %th idx
    %th name
    %th{:colspan=>2} off
    %th{:colspan=>2} def
    %th agi
    %th life
    %th{:colspan=>2} swap
    %th.space{:width=>10}
    %th.associate{:colspan=>2} Amazon.co.jpアソシエイト
  - @player.characters_.each do |character|
    - i = character.position
    - if i == 5
      %tr
        %td{:height=>10, :colspan=>20}
          .memo memo: ここより上の5枚のカードが対戦に使われます。対戦に使ったlifeが1ポイント減少します

    %tr
      %td.c&= character.position + 1
      %td= link_to h(character.nick), "/characters/#{character.id}"
      %td.r&= character.off_org
      %td.plus&= plus_param(character, :off_plus)
      %td.r&= character.def_org
      %td.plus&= plus_param(character, :def_plus)
      %td.c.agi&= character.agi_org
      %td.c&= character.life
      %td
        - unless character.position == @player.characters_.count - 1
          = link_to 'V', "/cmd/swap/#{i}/#{i + 1}"
      %td
        - unless character.position == 0
          = link_to 'A', "/cmd/swap/#{i - 1}/#{i}"
      %td
      - item = character.amazon_item
      %td.c.image{:class=>character.name}
        = link_to "<img src='/images/spacer.png'>", "/amazon/#{h item.asin}"
      %td.l.amazoninfo
        .cell&= item.title
        .cell= link_to 'amazon.co.jpで詳細を見る', item.detailpageurl
%hr.characters

%table.layout
  %tr
    %td.large_associate= haml :_large_associate, :locals => {:banner => 1}
    %td.main= haml :_home_status
