%html
  %head
    %link(rel='stylesheet' type='text/css' href='/stylesheet.css')
  %body
    .todo todo: 広告設置予定地
    %table.menu{:width=>'100%'}
      %tr
        %td
          %span.menu= link_to 'HOME', "/"
          %span.menu= link_to 'LEAGUES', "/leagues"
          %span.menu= link_to 'PLAYERS', "/players"
          %span.menu= link_to 'CARDS SHOP', "/characters/stock"
          %span.menu= link_to 'AMAZON', "/amazon"
        %td.r
          - if @player
            = link_to 'Custam', "/custam"
            = link_to 'Logout', "/logout"
          - else
            = link_to 'Login', "/login"
    - unless @player
      .custam_notice== @#{h @custam.user.name}が編集したニックネームとamazon関連商品を表示しています。
    - @debug_logs.each do |e|
      .debug_log&= e
    = yield
    .footer
      %hr
      .debug
        == time: #{h game_env.game_time}
      .debug_commands
        = link_to 'Run core', "/dcmd/run_core"
      ppockets
