- league = League.find(:id => params[:id])
%h1== #{h league.schedule_type.capitalize} League

%table.layout
  %tr
    %td.main
      %h2 Status
      %ul
        %li== 更新時間: #{h league.schedule.join('時 ')}時
        %li todo: 賞金等
      - if league.status == 0 and (@player and !@player.entry?)
        .entry_button
          = link_to 'このリーグに参加する', "/leagues/#{league.id}/entry"
          %hr
      %h2 Ranking
      - @players_ = league.players_dataset.order(:active_point.desc)
      - @result_ptn = {:league_id => league.id}
      = haml :_player_ranking
    %td.large_associate
      = haml :_large_associate, :locals => {:key => :leagues}

%h2 League
%table.league
  - players = league.players
  %tr
    %th
    - players.each do |player|
      %th= player.short_name
  - players.each do |home_player|
    %tr
      %td= link_to_player home_player
      - players.each do |away_player|
        - ptn1 = { :home_player_id => home_player.id, :away_player_id => away_player.id }
        - ptn2 = { :home_player_id => away_player.id, :away_player_id => home_player.id }
        - game = Game.filter(:league_id => league.id).filter(ptn1 | ptn2).first
        %td.c
          - if game
            - if game.played?
              - if game.home_player.id == home_player.id
                - str = "#{h game.home_score} - #{h game.away_score}"
              - else
                - str = "#{h game.away_score} - #{h game.home_score}"
              = link_to h(str), "/games/#{game.id}"
          - else
            &= '-'

