%h2 NEW CHARACTER
- new_character = @player.new_characters_dataset.first
.new_character
  == 新しいカードは<b>『#{h(new_character.character.nick)}』</b>でした。
.character
  %p&= %w(off def agi life).map {|e| "#{e} #{h new_character.character.send(e + '_org')}" }.join(' / ')
  %p todo: 説明を表示する。

.commands
  %ul
    - if @player.characters_.count < Max_characters
      %li= link_to h('ポケットに入れる'), "./cmd/put_new_character/#{new_character.id}"
    - else
      %li= h('ポケットに入れる')
    %li
      = link_to h('カードショップに売る'), "/cmd/sell_new_character/#{new_character.id}"
      - stock = CharacterStock.find(:name => new_character.name)
      == (参考価格: #{h stock.price}J)

= haml :_amazon_show
